name: Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint-python:
    uses: trailofbits/.github/.github/workflows/make-lint.yml@v0.1.3
    with:
      language: "python"
      python-version: "3.8"

  all-lints-pass:
    if: always()

    needs:
      - lint-python

    runs-on: ubuntu-latest

    steps:
      - name: check test jobs
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
